.vehicle-item-dark {
    direction: rtl;
    background-color: #2e4141;
    width: 660px;
    height: 275px;
    border-radius: 15px;
    border: 3px solid #48c4ca;
    box-shadow: 0px 0px 10px black;
    position: relative;
    display: inline-block;
    margin: 10px;
    float: right;
}

.vehicle-item-light {
    direction: rtl;
    background-color: #6c9593;
    width: 660px;
    height: 275px;
    border-radius: 15px;
    border: 3px solid #48c4ca;
    box-shadow: 0px 0px 10px #48c4ca;
    position: relative;
    display: inline-block;
    margin: 10px;
    float: right;
}

.vehicle-image-box {
    width: 264px;
    margin: 5px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.vehicle-image {
    width: 120px;
    margin: 6px;
    border-radius: 8px;
}

.vehicle-name-dark {
    margin-right: 275px;
    font-size: 20px;
    text-align: right;
}

.vehicle-name-light {
    margin-right: 275px;
    font-size: 20px;
    text-align: right;
}

.vehicle-item-description-dark {
    width: 360px;
    background-color: #406160;
    margin-right: 275px;
    padding: 5px;
    border-radius: 10px;
    text-align: right;
}

.vehicle-item-description-light {
    width: 360px;
    background-color: #364f4f;
    margin-right: 275px;
    padding: 5px;
    border-radius: 10px;
    text-align: right;
}

.vehicle-item-option-dark {
    margin: 1px 4px;
    border-left: 4px solid #2e4141;
    display: inline-block;
    color: #d4d4d4;
}

.vehicle-item-option-light {
    margin: 1px 4px;
    border-left: 4px solid #6c9593;
    display: inline-block;
    color: #d4d4d4;
}

.vehicle-price {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #2e4141;
    font-size: 17px;
}